* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chau Philomene One', sans-serif;
    color: white;
    background-size: cover;
    background-color: #1B123A;
}

header {
    background-color: #0BA8BC;
    padding: 2px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

nav ul li a {
    text-decoration: none;
    background-color: #D633BA;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    font-family: Chau Philomene One;
    font-weight: 100;
    font-size: 21px;
}

nav ul li a:hover {
    background-color: #b52698;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.texto {
    max-width: 60%;
    font-weight: 100;
}

.texto h1 {
    font-size: 70px;
    margin-bottom: 15px;
    font-weight: 100;
}

.texto h3 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 100;
    margin-bottom: 20px;
}

.texto p {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 100;
    margin-bottom: 60px;
}

.btn-iniciar {
    display: inline-block;
    background-color: #D633BA;
    padding: 15px 200px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 33px;
    transition: background 0.3s ease;
}

.btn-iniciar:hover {
    background-color: #b52698;
}

.icone img {
    width: 400px;
    height: auto;
    transform: translateX(-60px);
}